<style>
  .blue-value-route {
    min-height: 100%;
    overflow: auto;
  }

  .blue-value-route__graph {
    height: 400px
  }
</style>

<div class="blue-value-route">
  <Toolbar @saving={{showSpinner}}/>
  <Graph
    class="blue-value-route__graph"
    @vertices={{model.vertices}}
    @edges={{model.edges}}
    @onChange={{action "changeState"}}
  />
  <Editor @text={{getRandomText}}/>
  <Editor @text={{getRandomText}}/>
</div>